<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <!-- There are no secrets currently registered with the system -->
    <% if ((foundUsers === undefined) || (foundUsers.length === 0)) { %>
      <p class="secret-text"> No secrets currently registered - be the first by submitting one below! </p>
      <hr>

    <!-- Otherwise, display all secrets currently stored within the system -->
    <% } else { %>
      <% foundUsers.forEach((user) => { %>
        <p class="secret-text"> <%= user.secret %> </p>
        <hr>
      <% }); %>
    <% } %>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
