:root {
    --green: #2a9d8f;
    --darkGreen: #264653;
    --purple: #9b5de5;
    --lightGrey: #CBD2D8;
    --medGrey: #242B30;
    --darkGrey: #161a1d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dark-input::placeholder {
    color: #B9C3CA !important;
    opacity: 0.6 !important;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 0 16px;
}

.light-mode {
    color: white;
    background-color: white;
}

.dark-mode {
    color: var(--lightGrey);
    background-color: var(--darkGrey);
}

.white-text {
    color: white;
}

.light-text {
    color: var(--lightGrey) !important;
}

.med-text {
    color: var(--medGrey) !important;
}

.dark-text {
    color: var(--darkGrey) !important;
}

.green-text {
    color: var(--green) !important;
}

.dark-green-text {
    color: var(--darkGreen) !important;
}

.purple-text {
    color: var(--purple) !important;
}

.header-light {
    background-color: var(--green);
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header-dark {
    background-color: var(--medGrey);
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.theme-icon {
    cursor: pointer;
    margin-right: 1.5em;
}

.logout-icon {
    cursor: pointer;
}

.edit-btn {
    background-color: #e76f51 !important;
    border: 2px #E24E29 solid !important;
}

.edit-btn-dark {
    background-color: #52b788 !important;
    border: 2px #388661 solid !important;
}

header h1 {
    font-family: "McLaren", cursive;
    font-weight: 200;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

.note {
    border-radius: 7px;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note-light {
    box-shadow: 0 2px 5px #ccc;
    background-color: inherit;
}

.note-dark {
    background-color: var(--medGrey);
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
}

.note button:hover {
    opacity: 0.7;
}

.create-light {
    background: #fff;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.create-dark {
    background: var(--medGrey);
}

form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    padding: 15px;
    border-radius: 7px;
}

.dark-input {
    background-color: var(--medGrey) !important;
    color: var(--lightGrey) !important;
    outline: none !important;
    border: none !important;
}

.light-input {
    background-color: #fff;
    color: var(--darkGrey);
}

.twitter-btn {
    background-color: #55acee !important;
    border: 2px #178CE6 solid !important;
}

.facebook-btn {
    background-color: #3b5998 !important;
    border: 2px #2E4576 solid !important;
}

.local-btn {
    background-color: #2a9d8f !important;
    border: 2px #217B71 solid !important;
}

.local-btn-dark {
    background-color: #9b5de5 !important;
    border: 2px #8135DE solid !important;
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}
form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: var(--green);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

